:root {
    --white: #f5efe8;
    --background: #f2f0e3;
    --black: #2d2a2a;
    --tan: #ece6c2;
    --teal: #73bda8;
    --gold: #d2a24c;
    --orange: #cc6b49;
    --red: #d67776;
}

* {
    cursor: default;
    color: var(--black);
    font-family: 'Lora';
}

*::selection {
    color: var(--tan);
    background-color: var(--orange);
}

html {
    background-color: var(--black);
}

body {
    margin: 0;
}

.body {
    background-color: var(--background);
    max-width: 900px;
    min-height: 100vh;
    margin: auto;
    padding: 72px;
    font-size: 12pt;
    box-sizing: border-box;
    z-index: -2;
}

body::after {
    content: "";
    background-image: url(../images/noise.png);
    z-index: 99;
    position: fixed;
    inset: 0;
    opacity: 0.05;
    pointer-events: none;
}

h2 {
    font-size: 21pt;
}

h3 {
    font-size: 20pt;
    margin: 80px;
}

.creation-date {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    color: var(--black);
}

#name {
    position: relative;
    margin-left: 20px;
    z-index: 1;
}

#name::after {
    content: "";
    background-color: var(--teal);
    border-radius: 0.4rem;
    height: 90%;
    width: calc(100% + 2rem);
    left: 0;
    top: 15%;
    margin-left: -1rem;
    position: absolute;
    z-index: -1;
}

#quote {
    transform: skewX(-10deg);
    opacity: 0.6;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.intro-title > h2 {
    margin: 6px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-container > p {
    line-height: 1.2;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    /* transform: skewX(-5deg); */
}

.grid-panel {
    font-family: 'Outfit';
    font-weight: bold;
    border-radius: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    height: 160px;  
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.grid-panel:hover {
    color: var(--white) !important;
}

#about-panel {
    background-color: var(--red);
}

#about-panel:hover {
    transform: rotateZ(-8deg);
}

#projects-panel {
    background-color: var(--gold);
}

#projects-panel:hover {
    transform: rotateZ(3deg);
}