@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Space Mono';
    cursor: default;
}

::selection {
    background-color: #000; /*Highlight Color*/
    color: #fff; /*Text Color*/
  }

body {
    background-color: black;
}

body::after {
    content: "";
    background-image: url(/images/noise.png);
    z-index: 99;
    position: fixed;
    inset: 0;
    opacity: 0.07;
    pointer-events: none;
}

.main-heading {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 120px auto 60px auto;
    padding: 60px;
    outline: 4px solid black;
    outline-offset: -16px;
}
.main-heading > h1 {
    color: black;
}

.sub-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    padding: 12px;
}

.sub-heading > h2 > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.sub-heading > h2 > a:hover {
    text-decoration: underline;
}

.elem-center {
    width: 100vw;
    margin: 120px auto;
    text-align: center;
}

.elem-center > hr {
    width: 16px;
    margin: 28px auto;
}

.elem-center > h3 {
    font-size: 32pt;
    /* color: red; */
}

.mini-separator {
    border: solid greenyellow 2px;
    /* border: solid red 2px; */
}

.heading-separator {
    border: dashed greenyellow 4px;
}